.fade.edit-modal.modal.show {
  margin-left: 0%;
  margin-top: 0%;
  width: 70%;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  border-radius: 0px !important;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../../../../public/website_images/islington.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.fade.modal.show .modal-body {
  padding-top: 2%;
  height: auto;
  padding: 2% !important;
  margin: 0 auto;
}

.modal-body .edit-close {
  height: 35px;
  width: 90px;
  font-size: 0.7rem;
  border-radius: 10px;
  background-color: black;
  border: 1px solid black;
  color: white;
  cursor: pointer;
}
.modal-body hr {
  display: block;
  visibility: visible;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 1%;
  border: 1px solid #efe7df;
}
.modal-body .inner-divider {
  display: block;
  visibility: visible;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 2%;
  margin-bottom: 0%;
  border: 1px solid #efe7df;
}
.modal-body .modal-header {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: #efe7df;
  margin-bottom: 10px;
}
.modal-body .modal-header .submit-title {
  color: #FFA7E5;
}
.modal-body .modal-header .modal-sub-text {
  display: flex;
  justify-content: space-between;
  height: 35px;
}
.modal-body .modal-detail {
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 2%;
}
.modal-body .modal-detail h3 {
  color: #051885;
}
.modal-body .modal-detail .input-section .section-header {
  margin-top: 2%;
  color: #FFA7E5;
  font-weight: 700;
  font-size: 1.5rem;
}
.modal-body .modal-detail .input-section .input-line {
  margin-top: 5px;
}
.modal-body .modal-detail .input-section .input-line .title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0%;
}
.modal-body .modal-detail .input-section .input-line .title-section .sub-title {
  margin-right: 15px;
  color: #051885;
  font-size: 1rem;
}
.modal-body .modal-detail .input-section .input-line .title-section .selection-pill {
  width: 120px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #FFA7E5;
}
.modal-body .modal-detail .input-section .input-line .title-section .section-buttons .delete-button {
  height: 35px;
  width: 90px;
  font-size: 0.7rem;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid black;
  color: black;
  cursor: pointer;
}
.modal-body .modal-detail .input-section .input-line .title-section .section-buttons .add-button {
  height: 35px;
  width: 90px;
  font-size: 0.7rem;
  border-radius: 10px;
  border: 2px solid black;
  background-color: black;
  color: white;
}
.modal-body .modal-detail .input-section .input-line .section-detail {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.modal-body .modal-detail .input-section .input-line .section-detail .section-blocks {
  display: flex;
  flex-direction: row;
}
.modal-body .modal-detail .input-section .input-line .section-detail h3 {
  font-weight: 600;
  font-size: 0.7rem;
  margin-right: 10px;
}
.modal-body .modal-detail .input-section .input-line .section-detail .form-control {
  margin-right: 15px;
  padding: 6px;
  background-color: rgba(255, 167, 229, 0.2);
  border-radius: 5px;
  border: 1px solid #FFA7E5;
  font-size: 0.6rem;
}
.modal-body .modal-detail .input-section .input-line .section-detail .input-number {
  width: 50px;
  background-color: rgba(255, 167, 229, 0.2);
  border-radius: 5px;
  border: 1px solid #FFA7E5;
  margin-right: 15px;
  font-size: 0.7rem;
  padding: 6px;
}
.modal-body .modal-detail .input-section .input-line .section-detail .input-postcode {
  width: 75px;
  background-color: rgba(255, 167, 229, 0.2);
  border-radius: 5px;
  border: 1px solid #FFA7E5;
  margin-right: 15px;
  font-size: 0.7rem;
}
.modal-body .edit-footer {
  margin-right: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 3%;
  display: flex;
  justify-content: space-between;
}
.modal-body .edit-footer .edit-submit {
  margin-right: 15px;
  height: 35px;
  width: 90px;
  border-radius: 10px;
  background-color: #FFA7E5;
  border: 1px solid #FFA7E5;
  font-size: 0.7rem;
}

@media screen and (max-width: 900px) {
  .fade.edit-modal.modal.show {
    margin-left: 0%;
    margin-top: 0%;
    width: 100%;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    border-radius: 0px !important;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../../../../public/website_images/islington.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .fade.modal.show .modal-body .modal-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .fade.modal.show .modal-body .modal-header .submit-title {
    font-size: 1.8rem;
  }
  .fade.modal.show .modal-body .modal-header .modal-sub-header {
    display: flex;
  }
  .fade.modal.show .modal-body .modal-header .modal-sub-text {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .fade.modal.show .modal-body .modal-header .modal-sub-text .submit-detail {
    margin-right: 5px;
    margin-bottom: 0%;
  }
  .modal-body .edit-divider {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .modal-body .modal-detail .input-section .input-line .section-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .modal-body .modal-detail .input-section .input-line .section-detail .form-control {
    margin-right: 0px;
    width: 175px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .modal-body .modal-detail .input-section .input-line .section-detail .input-number {
    margin-top: 5px;
    margin-right: 0px;
  }
  .modal-body .modal-detail .input-section .input-line .section-detail .section-blocks {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .modal-body .edit-footer {
    margin-top: 2%;
    margin-bottom: 2%;
  }
}/*# sourceMappingURL=edit.css.map */