.fade.edit-admin-modal.modal.show {
  margin-left:0%;
  margin-top: 0%;
  width: 50%;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  border-radius: 0px !important;
  .modal {
    box-shadow: 0 10px 10px 100vw rgb(0 0 0 / 70%) !important;
    
  }


  .modal-dialog {
    padding: 2%;

    .modal-content {
      .modal-body {
        .living-inputs-form {
          .living-modal-details {
            width: 100%;
          }
          .living-admin-image {
            display: none;
          }
        }
      }
    }
  }
}



@media screen and (max-width: 800px) {
  .fade.edit-admin-modal.modal.show {
    margin-left:0%;
    margin-top: 0%;
    width: 100%;
    height: 100% !important;
  }

}