.menu-container {
  // position: relative;
  // width: 100vw;
  // padding-top: 1%;
  margin-right: 5%;
  display: flex;
  flex-direction: row-reverse;
  // position: fixed;
  font-size: 0.9rem;
  display: none;

  .cta {
    color: #FFA7E5;
    cursor: pointer;
  }
}

.menu {
  background: #FDF7F0;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  width: 225px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  z-index: 99;
  margin-right: 5%;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  // margin-right: 6%;
}

.menu ul {
  list-style: none;
  padding: 0;
  // padding-right: 2%;
  margin: 0;
}



.menu li {
  // border-bsottom: 1px solid #dddddd;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
  cursor: pointer;
  color: #051885;

}

.dropdowns:last-child a {
  border-top: 2px solid #FFA7E5 !important;
  cursor: pointer;
}


.menu-trigger {
  display: block;
  width: 40px;
  background-color: transparent;
  cursor: pointer;


  span {
    margin: 0%;
    font-size: 0px;

  }

  .burger-icon {
    display: flex;
    flex-direction: column;

    .burger-icon-line {
      margin-top: 2.5px;
      margin-bottom: 2.5px;
      border: 1.5px solid #FFA7E5;
      border-radius: 3px;
      width: 80%;
      margin-left: 10%;
      visibility: visible;
    }
  }
}



.menu-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}



.menu .form-detail {
  list-style: none;
  padding: 0;
  // padding-right: 2%;
  margin: 0;
  display: flex;
  flex-direction: column;

  p {
    margin-left: 12%;
    margin-top: 8%;
    font-size: 0.8rem;
    color: #051885;
    // color: #FFA7E5;
    font-weight: bold;
  }

  .input {
    margin-top: 8%;
    width: 75%;
    margin-left: 12%;
    color: #051885;
    background-color: rgb(232, 240, 254);

  }

  // .login-input {
  //   display: flex;
  //   flex-direction: row;
  //   align-items: center;

  //   .password-input {
  //     margin-top: 8%;
  //     width: 60%;
  //     margin-left: 12%;
  //     color: #051885;
  //     border-top-right-radius: 0%;
  //     border-bottom-right-radius: 0%;
  //     border-right: none;
  //     background-color: rgb(232, 240, 254);

  //   }

  //   .password-icon-container {
  //     border-right: 1px solid #051885;
  //     border-top: 1px solid #051885;
  //     border-bottom: 1px solid #051885;
  //     border-top-right-radius: 7px;
  //     border-bottom-right-radius: 7px;
  //     border-left: none;
  //     width: 15%;
  //     height: 30px;
  //     margin-top: 8%;
  //     background-color: rgb(232, 240, 254);
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     cursor: pointer;

  //     .password-icon {
  //       background-image: url('../../../../public/website_icons/password.png');
  //       background-position: center;
  //       background-size: cover;
  //       background-repeat: no-repeat;
  //       width: 20px;
  //       height: 20px;
  //       // margin-top: 8%;
  //       // padding: 5px;
  //     }
  //   }
  // }

  .sign-up {
    margin-top: 8%;
    width: 75%;
    margin-left: 12%;
    border-radius: 5px;
    background-color: #FFA7E5;
    border: 2px solid #FFA7E5;
    color: white;
    font-weight: bold;
    padding: 3px;
    cursor: pointer;
    // margin-bottom: 10px;
  }

  h5 {
    width: 75%;
    margin-left: 12%;
    margin-top: 8%;
    margin-bottom: 8%;
    color: #051885;
    font-weight: 400;

    span {
      color: #FFA7E5;
      font-weight: bold;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.modal-body {
  .form-detail {}
}


.nav-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  // background-color: #051885;
  .nav-action {
    margin-right: 5%;
    background-color: #051885;
    color: #FFA7E5;
    border-radius: 5px;
    padding: 5px;
    // padding: 3px 10px 3px 10px;
    width: 125px;
    border: 1px solid #051885;
    font-weight: 700;
    cursor: pointer;
    font-size: 1rem;
  }

  .left-section {
    display: flex;
    align-items: center;
    width: 50%;
    .logo {
      color: #FFA7E5;
      padding-top: 3px;
      padding-left: 10%;
      cursor: pointer;
  
      h2 {
        font-size: 2.2rem;
        color: #FFA7E5;
      }
    }
    h4 {
      margin-left: 5%;
      color: #FFA7E5;
      cursor: pointer;
      font-size: 1rem;
    }
  }
  

  .agent-login {
    display: block;
    margin-right: 5%;
    color: #FFA7E5;
    font-weight: 700;
    width: 125px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #051885;
    background-color: #051885;
    font-size: 1rem;
    cursor: pointer;
  }
}



@media screen and (max-width: 850px) {

  .left-section {
    width: 50% !important;
  }
}



@media screen and (max-width: 600px) {
  .nav-section {
    .logo {
      h2 {
        font-size: 2.0rem;
      }
    }
    h4 {
      display: none;
    }
    .menu-container {
      display: block !important;
    }
    .agent-login {
      display: none;
    }
  }


}