@media print {
  .no-print {
    display: none;
  }
  .remove-margin {
    margin-left: 0% !important;
  }
  .property-image {
    display: block;
  }
  .print-container {
    // padding: 10mm;
  }
}
