<!-- yourapp/templates/emails/welcome_email.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Wittle</title>
    <style>
        body { font-family: Arial, sans-serif; }
        /* Add more styling here as needed */
    </style>
</head>
<body>
    <p>Hi {{ name }},</p>

    <p>Welcome to Wittle!</p>

    <p>We make products that save you time and allow you to serve customers more effectively.</p>

    <p>Here&apos;s what you need to know:</p>
    <ul>
        <li>Your account tier: Free trial</li>
        <li>What that gets you for the first month:</li>
        <ul>
            <li>Unlimited extracts from ourr lead gen tool</li>
            <li>Unlimited listings through our AI listing generator</li>
            <li>Unlimited queries to our insights database</li>
        </ul>
    </ul>
    <!-- <p>We want you to get started asap, so we don&apos;t take any payment up front. If you&apos;ve maxed out and want to upgrade head to the &apos;Account&apos; section on the Wittle portal.</p> -->

    <p>You&apos;ll find short videos showcasing how to use the product in the &apos;how-to-guide&apos; section, but If you have any other issues or questions, please don&apos;t hesitate to email me directly.</p>

    <p>Thanks and happy Wittling!<br>James<br>Founder, Wittle</p>

  </body>
</html>
