.homepage-wrapper {
  max-width: 100vw;
}
.waitlist-consumer {
  margin-top: 2%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  // justify-content: center;
  .waitlist-email {
    padding: 12px;
    width: 80%;
    border-radius: 10px;
    border: 1px solid #FDF7F0;
    margin-right: 3%;
    background-color: #1A276C;
    color: #1A276C;
  }
  .consumer-sign-up {
    background-color: #ED6B86;
    margin-top: 2%;
    padding: 12px;
    width: 20%;
    color: #FDF7F0;
    border-radius: 10px;
    border: 1px solid #ED6B86;
    font-weight: bold;
    cursor: pointer;
  }
}

.website-opening {
  // background-color: #FDF7F0;
  background-color: #1A276C !important;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    // align-items: center;
  }

  .headline-title-section {
    display: flex;
    flex-direction: row;
    // align-items: center;
    padding-top: 10%;
    height: 95vh;
    background-image: url('../../../public/white_icons/login-w.svg');
    background-position: right; /* position to the right and center vertically */
    background-repeat: no-repeat;
    background-size: 55% 100%;


    
    .headline-left {
      display: flex;
      flex-direction: column;
      // align-items: center;
      text-align: left;
      width: 50%;
      margin-left: 10%;
      padding-right: 7%;

      h1 {
        font-size: 2.7rem;
        color: #FDF7F0;
        font-weight: 500;
        margin-bottom: 12.5%;
      }

      h4 {
        font-size: 1.2rem;
        color: #ED6B86;
        font-weight: 500;
      }
      h5 {
        font-size: 0.9rem;
        color: #FDF7F0;
        margin-top: 5%;
        font-weight: 400;
      }
      .waitlist-consumer {
        margin-top: 12.5%;
      }


    }
    .headline-right {
      width: 50%;
      margin-right: 10%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 18%;
      .headline-image {
        // background-image: url('../../../public/white_icons/house-sticker.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 140px;
        height: 140px;
      }
    }



  }



  .consumer-process {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    .process-steps {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      padding-top: 8%;
      padding-bottom: 8%;
      .process-item {
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 40%;
        h5 {
          color: #1A276C;
          font-size: 1.5rem;
          text-align: left;
          font-weight: 500;
        }
        .process-line {
          height: 5px;
          width: 100px;
          background-color: #ED6B86;
          border-radius: 2.5px;
          margin-top: 5%;
        }
        .process-text{
          width: 60%;

        }
        .process-screen {
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          height: 450px;
          width: 240px;
        }
        #screen1 {
          background-image: url('../../../public/white_icons/mobile-choices-umer.png');
        }
        #screen2 {
          background-image: url('../../../public/white_icons/mobile-details-umer.png');
        }
        #screen3 {
          background-image: url('../../../public/white_icons/mobile-results-umer.png');
        }
        #screen4 {
          background-image: url('../../../public/white_icons/mobile-comparison-umer.png');
        }
      }
    }
    .process-item:nth-child(odd) {
      margin-left: 25%;
      .process-text {
        padding-right: 10%;
      }
    }
    .process-item:nth-child(even) {
      margin-right: 25%;
      .process-text {
        padding-left: 10%;
      }
    }
    .process-item:nth-child(2), .process-item:nth-child(4) {
      margin-top: -8%;
    }

    .process-steps:nth-child(1){
      background-color: #FDF7F0;
      h5 {
        color: #1A276C;
      }
      .process-line {
        background-color: #ED6B86;
      }
    }
    .process-steps:nth-child(2){
      background-color: #ED6B86;
      h5 {
        color: #FDF7F0;
      }
      .process-line {
        background-color: #1A276C;
      }
    }
  }
  .blog-section-summary {
    margin-bottom: 5%;
    padding-top: 7%;
    padding-bottom: 10%;
    min-height: 525px;
    text-align: center;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-color: #1A276C;
    .blog-section-title {
      color: #ED6B86;
      font-size: 1.5rem;
      margin-bottom: 5%;
      font-weight: 500;
    }
    .blog-list {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      // background-color: #FDF7F0;
      .blog-item:hover {
        box-shadow: 3px 5px 5px 0 rgba(5, 24, 133, 0.15), -3px 5px 5px 0 rgba(5, 24, 133, 0.15);

      }
      .blog-item {
        width: 250px;
        // height: 225px;
        margin-left: 2%;
        margin-right: 2%;
        box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.1), -2px 3px 2px 0 rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        cursor: pointer;


        .blog-image-box {
          width: 250px;
          min-height: 190px;
          background-color: white;
          // z-index: 99;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
        .blog-content {
          border: 0px !important;
          margin-top: -3%;
          // background-color: #FDF7F0;
          text-align: left;
          padding-left: 10%;
          padding-right: 10%;

          h2 {
            color:#ED6B86;
            font-size: 0.8rem;
            font-style: italic;
            padding-top: 15%;
          }
          .blog-item-summary {
            color: #1A276C;
            font-size: 0.7rem;
            margin-top:7%;
            margin-bottom:7%;
            min-height: 35px;
          }
          p {
            color: black;
            font-size: 0.7rem;
            margin-bottom: 10%;

          }
        }
      }
    }
  }


  .consumer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 5%;
    background-color: #1A276C;
    color: #ED6B86;
    .wittle-logo {
      width: 165px;
      height: 70px;
      background-image: url('../../../public/white_icons/login-logo.svg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .waitlist-consumer {
      justify-content: center;
    }
    .waitlist-email {
      width: 350px;
      margin-right: 1%;
    }
    .consumer-sign-up {
      width: 125px;
    }
  }
}



@media screen and (max-width: 1010px) {
  .blog-section-summary {
    // width: 70% !important;
    padding-bottom: 5%;
    height: auto !important;
    .blog-list {  
      flex-direction: column !important;
      align-items: center !important;
    }

    .blog-section-title {
      margin-bottom: 5%;
    }
    .blog-item {
      height: 100% !important;
      margin-bottom: 10%;
      // width: 50% !important;
      .blog-item-summary {
        margin-top: 5% !important;
        min-height: auto !important;
        // margin-bottom: 10% !important;
      }
    }
  }
  
}



@media screen and (max-width: 900px) {
  .website-opening {
    .headline-title-section {
      .headline-top {
        margin-bottom: 10%;
        h1 {
          font-size: 2.2rem;
          margin-bottom: 2%;
          padding-left: 2%;
          padding-right: 2%;
        }

        h4 {
          margin-bottom: 1%;
          padding-left: 8%;
          padding-right: 8%;
        }
        h5 {
          padding-left: 5%;
          padding-right: 5%;
        }
      }

    }
    .consumer-process {
      align-items: center;
      .process-steps {
        flex-direction: column;
        align-items: center;
        .process-item {
          width: 70%;
          h5 {
            padding: 7% 5% 10% 5%;
          }
        }
      }
    }

    
  }
}


@media screen and (max-width: 600px) {
  .website-opening {
    // .blog-section-summary {
    //   width: 90% !important;
    //   .blog-section-title {
    //     margin-bottom: 10%;
    //   }
    //   .blog-list {  
    //     flex-direction: column !important;
    //     align-items: center !important;
    //   }
    //   .blog-item {
    //     width: 70% !important;
    //     margin-bottom: 5%;
    //   }
    // }
  }

}