<!-- templates/waitlist_email.html -->
<p>Hi there,</p>

<p>Thanks for signing up to Wittle!</p>

<p>We’re excited about what the next few months have in store as we Wittle down the days to our full launch.</p>

<p>Wittle is transforming the way you search for properties by providing real-time market insights and property suggestions based on things you care about to make your home hunt easier and ultimately make your life happier.</p>

<p>To stay up-to-date with our progress and gain insightful tips on the London property market, follow us on <a href="{{ linkedin_link }}">LinkedIn</a>. We'll be posting weekly updates that might help you find your perfect place. You can also expect occasional email updates from us. If you'd rather not receive these, feel free to <a href="{{ unsubscribe_link }}">unsubscribe</a>.</p>

<p>Thanks again,</p>
<p>James,</p>
<p>Founder, Wittle</p>
