<!-- templates/waitlist_email.html -->
<p>Hi there,</p>

<p>Thanks for signing up to Wittle!</p>

<p>We’re excited about what the next few months have in store as we Wittle down the days to our full launch.</p>

<p>Wittle is revolutionising the way you search for properties. We're bringing data about what you care about to the heart of the search. Whether it's primary schools, parks or pubs, we'll help you find a place based on your lifstyle preferences. </p>

<p>To stay up to date with our progress, follow us on <a href="{{ linkedin_link }}">LinkedIn</a>. We'll be posting weekly updates with Wittle insights to give you a flavour of what's to come. You can also expect occasional email updates from us. If you'd rather not receive these, feel free to <a href="{{ unsubscribe_link }}">unsubscribe</a>.</p>

<p>Thanks again,</p>
<p>James</p>
<p>Founder, Wittle</p>
