.login-page {
  background-color: #051885;
  height: 100vh;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-page .login-content {
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-page .login-content .form-section {
  width: 100%;
  background-color: #FDF7F0;
  color: #051885;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60%;
  margin-top: -25%;
}

.login-page .login-content .form-section .form-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 80%;
}

.login-page .login-content .form-section .form-detail h1 {
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 10%;
}

.login-page .login-content .form-section .form-detail p {
  text-align: left;
  font-size: 0.8rem;
  margin-bottom: 0;
}

.login-page .login-content .form-section .form-detail input {
  border: 1px solid #051885;
  border-radius: 2px;
  margin-bottom: 5%;
  background-color: white;
  margin-left: 0%;
  width: 100%;
  padding: 5%;
}

.login-page .login-content .form-section .form-detail hr {
  margin-top: 10px;
  margin-bottom: 20px;
}

.login-page .login-content .form-section .form-detail .sign-up {
  background-color: #FFA7E5;
  color: #e7e7e7;
  border: 1px solid #FFA7E5;
  padding: 5px;
  font-weight: bold;
  margin-top: 5%;
}

.login-page .login-content .form-section .form-detail .login-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-page .login-content .form-section .form-detail .login-input .password-input {
  width: 85%;
  color: #051885;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  border-right: none;
  background-color: #e8f0fe;
}

.login-page .login-content .form-section .form-detail .login-input .password-icon-container {
  border-right: 1px solid #051885;
  border-top: 1px solid #051885;
  border-bottom: 1px solid #051885;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left: none;
  width: 15%;
  height: 30px;
  background-color: #e8f0fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 5%;
}

.login-page .login-content .form-section .form-detail .login-input .password-icon-container .password-icon {
  background-image: url("../../../../public/website_icons/password.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.login-page .login-content h5 {
  margin-top: 8%;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 100;
  color: #FDF7F0;
}

.login-page .login-content h5 span {
  font-weight: bold;
  color: #FFA7E5;
  -webkit-text-decoration: underline #051885;
          text-decoration: underline #051885;
}

.login-page .login-content .sign-in {
  margin-top: 10%;
  background-color: #FFA7E5;
  color: #e7e7e7;
  border: 1px solid #FFA7E5;
  padding: 3px;
}

.login-page .login-content .login-overview {
  width: 55%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../../../../public/website_images/islington.png");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../../../public/website_images/islington.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 200px;
  padding-left: 5%;
  padding-right: 5%;
  color: #FFA7E5;
  text-align: center;
}

.login-page .login-content .login-overview h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 2%;
}

.login-page .login-content .login-overview button {
  margin-top: 10%;
  background-color: #FFA7E5;
  color: #e7e7e7;
  border: 1px solid #051885;
  border-radius: 5px;
  padding: 5px;
  width: 150px;
}
/*# sourceMappingURL=login.css.map */