.login-page {
  // background-color: #FDF7F0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),url('../../../../public/website_images/islington.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-content {
    
    width: 80%;
    // margin: 5%;
    display: flex;
    height: 80%;
    box-shadow:  0px 0px 20px #FDF7F0;
    .form-section{
      width: 45%;
      background-color: #FDF7F0;
      color: #152BA4;
      display: flex;
      justify-content: center;
      .form-detail{
        display: flex;
        flex-direction: column;
        margin-top: 150px;
        width: 70%;
        h1 {
          font-size: 2rem;
          text-align: center;
        }
        p {
          text-align: center;
          font-size: 1rem;
          margin-bottom: 0;
        }
        input {
          border-top: none;
          border-left: none;
          border-right: none;
          border-radius: none;
          border-bottom: 2px solid #152BA4;
          margin-bottom: 5%;
          background-color: white;
        }
        hr {
          margin-top: 10px;
          margin-bottom: 20px;
        }
        .sign-up {
          background-color: #FFA7E5;
          color: #e7e7e7;
          border: 1px solid #FFA7E5;
          padding: 5px;
          font-weight: bold;
        }
        h5 {
          margin-top: 8%;
          text-align: center;
          font-size: 1rem;
          font-weight: 100;
          span {
            font-weight: bold;
            color: #152BA4;
            text-decoration: underline #152BA4;
          }
        }
        .sign-in {
          margin-top: 10%;
          background-color: #FFA7E5;
          color: #e7e7e7;
          border: 1px solid #FFA7E5;
          padding: 3px;
        }
      }
    }
    .login-overview{
      width: 55%;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../../../../public/website_images/islington.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      padding-top: 200px;
      padding-left: 5%;
      padding-right: 5%;
      color: #FFA7E5;
      text-align: center;
      h1 {
        font-size: 1.8rem;
        font-weight: bold;
        margin-top: 2%;
      }
      button {
      margin-top: 10%;
      background-color: #FFA7E5;
      color: #e7e7e7;
      border: 1px solid #152BA4;
      border-radius: 5px;
      padding: 5px;
      width: 150px;
      }
    }
  }
}