.login-page {
  background-image: url('../../../../public/white_icons/login-w.svg');
  background-position: left top center;
  /* position to the right and center vertically */
  background-repeat: no-repeat;
  background-color: #1A276C;
  background-size: 50% 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .login-content {
    display: flex;
    flex-direction: column;
    margin-left: 50%;

    .logo-section {
      margin-bottom: 10%;
      width: 280px;
      height: 120px;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .wittle-logo {
        width: 90%;
        height: 90%;
        background-image: url('../../../../public/white_icons/login-logo.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
      }
    }

    h1 {
      font-size: 1.5rem;
      color: #FDF7F0;
      font-weight: 500;
      margin-bottom: 10%;
    }

    .input-section {
      .login-input {
        margin-bottom: 5%;

        h3 {
          font-size: 0.8rem;
          color: #FDF7F0;
          font-weight: 400;
          margin-bottom: 3%;
        }

        input {
          background-color: #1A276C;
          border-radius: 10px;
          padding: 10px;
          border: 1px solid #FDF7F0;
          width: 100%;
          color: #FDF7F0;
        }

      }



    }



    .register-section {
      .login-input {
        margin-bottom: 3%;

        h3 {
          font-size: 0.8rem;
          color: #FDF7F0;
          font-weight: 500;
          margin-bottom: 1%;
        }

        input {
          background-color: #1A276C;
          border-radius: 10px;
          padding: 5px;
          border: 1px solid #FDF7F0;
          width: 100%;
          color: #FDF7F0;
          // min-height: 35px;
        }

        p {
          font-size: 0.7rem;
          color: #ED6B86;
          margin-top: 2%;
        }
      }

      .css-13cymwt-control {
        color: #FDF7F0;
      }
    }

    button {
      margin-top: 5%;
      border-radius: 10px;
      padding: 10px;
      color: #FDF7F0;
      background-color: #ED6B86;
      border: 1px solid #ED6B86;
      font-weight: 700;
      cursor: pointer;
    }

    p {
      font-weight: 400;
      font-size: 0.8rem;
      text-align: left;
      margin-top: 4%;
      color: #FDF7F0;

      span {
        color: #ED6B86;
        cursor: pointer;
      }
    }
  }
}

#register {
  .register-title {
    h1 {
      margin-bottom: 3%;
    }
  }

  .logo-section {
    margin-bottom: 2%;
    width: 280px;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .wittle-logo {
      width: 90%;
      height: 90%;
      background-image: url('../../../../public/white_icons/login-logo.svg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer;
      margin-left: 10%;
    }
  }
}


@media screen and (max-width: 900px) {

  .login-content {
    margin-left: 0% !important;
    width: 300px !important;
  }

  .login-page {
    background-size: 150% 100%;
    background-position: bottom;

  }

  .wittle-logo {
    width: 70% !important;
    height: 70% !important;
  }

  .logo-section {
    margin-bottom: 5% !important;
  }

}