.profile-page {
  background-color: #FDF7F0;
  min-height: 100vh;
}
.profile-page .profile-page-body {
  padding-left: 5%;
  padding-top: 2%;
}
.profile-page .profile-page-body .profile-top {
  display: flex;
  width: 100%;
}
.profile-page .profile-page-body .profile-top .profile-intro {
  width: 20%;
  margin-right: 2%;
  padding-right: 1%;
  color: #051885;
}
.profile-page .profile-page-body .profile-top .profile-intro .profile-bio {
  margin-top: 5%;
  font-size: 0.9rem;
  color: #051885;
}
.profile-page .profile-page-body .profile-top .top-insights {
  display: flex;
  width: 60%;
}
.profile-page .profile-page-body .profile-top .top-insights .box-insights {
  width: 20%;
  border: 1px solid #051885;
  border-radius: 30px;
  margin-right: 3%;
  height: 130px;
  text-align: center;
  background-color: #FDF7F0;
  color: #051885;
  cursor: pointer;
}
.profile-page .profile-page-body .profile-top .top-insights .box-insights h1 {
  font-size: 3rem;
  margin-top: 5px;
  color: #051885;
}
.profile-page .profile-page-body .profile-top .top-insights .box-insights p {
  font-size: 0.9rem;
  padding-left: 3%;
  padding-right: 3%;
}
.profile-page .profile-page-body .profile-content {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}
.profile-page .profile-page-body .profile-content .selection-buttons {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.profile-page .profile-page-body .profile-content .selection-buttons h4 {
  margin-right: 5%;
  font-weight: 400;
  min-width: -moz-max-content;
  min-width: max-content;
  color: #051885;
}
.profile-page .profile-page-body .profile-content .selection-detail {
  max-width: 100%;
  margin-top: 1.5%;
}
.profile-page .profile-page-body .profile-content .selection-detail .property-choice {
  display: flex;
  margin-bottom: 1%;
}
.profile-page .profile-page-body .profile-content .selection-detail .property-choice select {
  padding: 7px;
  width: 100px;
  background-color: transparent;
  border: 2px solid #051885;
  border-radius: 7px;
  color: #051885;
  font-weight: bold;
  cursor: pointer;
  margin-right: 75px;
}
.profile-page .profile-page-body .profile-content .selection-detail .property-grid .property-card {
  display: flex;
  flex-wrap: wrap;
}
.profile-page .profile-page-body .profile-content .selection-detail .property-grid .property-card .property-detail {
  height: 300px;
  width: 30%;
  margin-right: 3.33%;
  margin-bottom: 3%;
  border: 1px solid #051885;
  border-radius: 15px;
  background-color: #FDF7F0;
  color: #051885;
}
.profile-page .profile-page-body .profile-content .selection-detail .property-grid .property-card .property-detail .property-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 225px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 2px solid #051885;
}
.profile-page .profile-page-body .profile-content .selection-detail .property-grid .property-card .property-detail .property-text-top {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
}
.profile-page .profile-page-body .profile-content .selection-detail .property-grid .property-card .property-detail .property-text-top h5 {
  padding: 7.5px;
  color: #051885;
}
.profile-page .profile-page-body .profile-content .selection-detail .property-grid .property-card .property-detail .property-text-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 7.5px;
  font-size: 0.85rem;
}
.profile-page .profile-page-body .profile-content .selection-detail .property-grid .property-card .property-detail .property-text-bottom h5 {
  padding: 7.5px;
}
.profile-page .profile-page-body .profile-content .selection-detail .property-grid .property-card .property-detail .property-text-bottom button {
  background-color: white;
  border-radius: 5px;
  border: 2px solid #051885;
  color: #051885;
  font-size: 0.85rem;
  cursor: pointer;
}
.profile-page .profile-page-body .profile-content .selection-detail .no-properties .no-properties-text {
  color: #051885;
  margin-top: 1%;
  margin-bottom: 1%;
}
.profile-page .profile-page-body .profile-content .selection-detail .no-properties .no-properties-subtext {
  color: #FFA7E5;
  width: 40%;
  margin-bottom: 1%;
}
.profile-page .profile-page-body .profile-content .selection-detail .no-properties button {
  width: 150px;
  padding: 5px;
  background-color: #FFA7E5;
  border: 2px solid #FFA7E5;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.profile-page .profile-page-body .profile-content .selection-detail .no-properties .favourite-instructions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile-page .profile-page-body .profile-content .selection-detail .no-properties .favourite-instructions h3 {
  color: #FFA7E5;
  font-size: 0.9rem;
}
.profile-page .profile-page-body .profile-content .selection-detail .no-properties .favourite-instructions .favourite-button-on {
  background-image: url("../../../../public/website_icons/pink-heart.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.profile-page .profile-page-body .profile-content .selection-detail .no-properties .favourite-instructions h4 {
  color: #FFA7E5;
  margin-left: 1%;
}
.profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card {
  display: flex;
  flex-wrap: wrap;
}
.profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-detail {
  background-color: #FDF7F0;
  width: 46%;
  margin-bottom: 2%;
  margin-right: 4%;
  border: 1px solid #051885;
  border-radius: 15px;
  padding-left: 1.5%;
}
.profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-detail .search-title {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #051885;
}
.profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-detail .search-title .search-buttons {
  margin-right: 1.5%;
}
.profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-detail .search-title .search-buttons .transparent-btn {
  border: 2px solid #051885;
  background-color: white;
  border-radius: 5px;
  width: 75px;
  padding: 5px;
  margin-left: 15px;
  cursor: pointer;
  color: #051885;
}
.profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-detail .search-title .search-buttons .block-btn {
  background-color: #051885;
  border: 2px solid #051885;
  color: white;
  border-radius: 5px;
  width: 75px;
  padding: 5px;
  margin-left: 15px;
  cursor: pointer;
}
.profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-detail .search-content {
  display: flex;
  flex-direction: row;
  margin-right: 0px;
}
.profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-detail .search-content .search-left {
  margin-top: 1%;
  width: 30%;
}
.profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-detail .search-content .search-right {
  margin-top: 1%;
  width: 70%;
}
.profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-detail .search-content h4 {
  font-weight: 600;
  font-size: 0.8rem;
  color: #051885;
}
.profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-detail .search-content .search-section-detail {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}
.profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-detail .search-content .search-section-detail .pills {
  background-color: rgba(255, 167, 229, 0.2);
  padding: 3px;
  margin-right: 3px;
  border-radius: 10px;
  margin-bottom: 3px;
  border: 1px solid #FFA7E5;
  font-size: 0.8rem;
  margin-top: 0px;
  color: #051885;
}
.profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-detail .search-content .search-section-detail p {
  font-size: 0.75rem;
  margin-bottom: 7%;
  color: #051885;
}
.profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-footer {
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
}
.profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-footer .search-summary {
  text-align: center;
  padding-right: 15px;
  display: flex;
  align-items: center;
}
.profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-footer .search-summary .search-count {
  font-size: 0.75rem;
  color: #FFA7E5;
}
.profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-footer .search-summary .search-description {
  font-size: 0.75rem;
  margin-left: 5px;
  color: #051885;
}
.profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-footer .search-footer-scores {
  display: flex;
}
.profile-page .profile-page-body .profile-content .selection-detail .comparison-grid {
  margin-right: 5%;
  margin-bottom: 5%;
}
.profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-properties-mobile {
  display: none;
}
.profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-title {
  display: flex;
  justify-content: space-between;
  color: #051885;
  font-size: 0.9rem;
}
.profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-subtitle {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
}
.profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-subtitle .comparison-dropdown {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #051885;
  background-color: rgba(255, 167, 229, 0.2);
  width: 15%;
  color: #051885;
}
.profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-property {
  width: 15%;
  cursor: pointer;
}
.profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-property .comparison-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #051885;
}
.profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-property .comparison-content {
  height: 110px;
  width: 100%;
  background-color: #FDF7F0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #051885;
  color: #051885;
}
.profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-property .comparison-content h4 {
  font-size: 0.6rem;
  padding: 5px;
}
.profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-property .comparison-content h5 {
  font-size: 0.6rem;
  font-weight: 400;
  padding: 5px;
}
.profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-body {
  margin-top: 1%;
  display: flex;
}
.profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-body .comparison-results {
  width: 68%;
  text-align: center;
  font-size: 0.7rem;
  margin-left: 1%;
  margin-right: 1%;
  color: #051885;
}
.profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-body .comparison-results .left-score {
  margin-right: 10px;
}
.profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-body .comparison-results .right-score {
  margin-left: 10px;
}
.profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-body .comparison-results .results-rows {
  display: flex;
  justify-content: center;
  width: 100%;
}
.profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-body .comparison-results .results-rows .results-left {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: flex-end;
}
.profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-body .comparison-results .results-rows .results-left .bars {
  display: flex;
  flex-direction: row;
  width: 1%;
  color: transparent;
}
.profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-body .comparison-results .results-rows .results-left .blank-bars {
  display: flex;
  flex-direction: row;
  width: 1%;
  color: transparent;
  background-color: transparent;
}
.profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-body .comparison-results .results-rows .results-right {
  display: flex;
  flex-direction: row;
  width: 50%;
}
.profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-body .comparison-results .results-rows .results-right .bars {
  display: flex;
  flex-direction: row;
  width: 1%;
  color: transparent;
}
.profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-body .comparison-results .results-rows .results-right .blank-bars {
  display: flex;
  flex-direction: row;
  width: 1%;
  color: transparent;
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  .profile-page .profile-page-body {
    margin-right: 5%;
  }
  .profile-page .profile-page-body .profile-top {
    display: block;
    width: 100%;
  }
  .profile-page .profile-page-body .profile-top .profile-intro {
    width: 100%;
    text-align: center;
  }
  .profile-page .profile-page-body .profile-top .profile-intro .profile-name {
    margin-top: 10%;
  }
  .profile-page .profile-page-body .profile-top .profile-intro .profile-bio {
    margin-top: 10%;
  }
  .profile-page .profile-page-body .profile-top .top-insights {
    width: 100%;
    justify-content: space-around;
    margin-top: 10%;
  }
  .profile-page .profile-page-body .profile-top .top-insights .box-insights {
    width: 30%;
    margin-right: 0%;
  }
  .profile-page .profile-page-body .profile-top .top-insights .box-insights h1 {
    font-size: 2.5rem;
  }
  .profile-page .profile-page-body .profile-top .top-insights .box-insights p {
    font-size: 0.8rem;
  }
  .profile-page .profile-page-body .profile-content {
    margin-top: 10%;
    padding-bottom: 5%;
  }
  .profile-page .profile-page-body .profile-content .selection-buttons {
    overflow-x: scroll;
  }
  .profile-page .profile-page-body .profile-content .selection-buttons h4 {
    width: 200px;
    font-size: 0.9rem;
  }
  .profile-page .profile-page-body .profile-content .selection-detail {
    padding-right: 0%;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .property-choice {
    margin-top: 3%;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .property-grid {
    margin-top: 5%;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .property-grid .property-card {
    display: block;
    width: 100%;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .property-grid .property-card .property-detail {
    width: 100%;
    margin-bottom: 5%;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .no-properties {
    margin-top: 5%;
    text-align: center;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .no-properties .no-properties-text {
    color: #051885;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .no-properties .no-properties-subtext {
    color: #FFA7E5;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .no-properties .favourite-instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .no-properties .favourite-instructions .favourite-button-on {
    margin-bottom: 5%;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .no-properties .favourite-instructions h4 {
    margin-left: 0%;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card {
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 5%;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-detail {
    width: 100%;
    margin-bottom: 5%;
    margin-right: 0%;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-detail .search-title {
    flex-direction: column;
    margin-right: 2%;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-detail .search-title h3 {
    margin-bottom: 2%;
    margin-top: 2%;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-detail .search-title .search-buttons {
    margin-bottom: 2%;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-detail .search-title .search-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 4%;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-detail .search-footer {
    flex-direction: column;
    align-items: center;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-detail .search-footer .search-footer-scores {
    display: flex;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-detail .search-footer .search-summary {
    padding-right: 15px;
    margin-top: 2%;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-detail .search-content .search-left {
    width: 35%;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-detail .search-content .search-left .search-section-detail p {
    font-size: 0.7rem;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-detail .search-content .search-right {
    width: 65%;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .search-grid .search-card .search-detail .search-content .search-right .search-section-detail .pills {
    font-size: 0.7rem;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .comparison-grid {
    margin-top: 5%;
    margin-right: 0%;
    margin-bottom: 5%;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-title h1 {
    font-size: 0.9rem;
    margin-bottom: 2%;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-title .desktop-results {
    display: none;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-subtitle .comparison-dropdown {
    width: 48%;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-properties-mobile {
    display: block;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-properties-mobile .comparison-property {
    width: 48%;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-properties-mobile .comparison-property .comparison-image {
    height: 170px;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-properties-mobile .comparison-property .comparison-content {
    height: 120px;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-body {
    margin-top: 5%;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-body .comparison-property {
    display: none;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-body .comparison-results {
    width: 95%;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-body .comparison-results .results-rows .results-left {
    width: 45%;
    margin-left: 5%;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-body .comparison-results .results-rows .results-right {
    width: 45%;
  }
  .profile-page .profile-page-body .profile-content .selection-detail .comparison-grid .comparison-body .comparison-results .result-title {
    margin-left: 5%;
  }
}/*# sourceMappingURL=profile.css.map */