.favourites-section {
  color: #1A276C;
  // margin-right: 5%;
  // margin-top: 1%;
  // margin-left: 3%;
  // height: 100vh;




  .favourites-body {
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.1), -1px 2px 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 3%;
    margin-right: 3%;
    min-height: 75vh;
    max-height: 75vh;
  }

  .favourite-count {
    margin-top: 4%;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 0.8rem;
      font-weight: 500;

    }

    a {
      font-size: 0.9rem;
      color: #ED6B86;
      font-weight: 700;
    }
  }


  .table-section {
    margin-right: 5%;
    margin-left: 5%;
    overflow: auto;
    max-height: 65vh;
    padding-bottom: 3%;

    .property-divider {
      visibility: visible;
      margin-top: 1%;
      margin-bottom: 1%;
      border: 0.5px solid rgba(5, 24, 133, 0.15);
    }

    .property-divider:last-of-type {
      visibility: hidden;

    }

    .table-headers {
      display: flex;
      flex-direction: row;
      margin-top: 1%;
      color: rgba(0, 0, 0, 0.3);
      h5 {
        font-size: 0.75rem;
      }
    }

    .table-details {
      .results-content {
        display: flex;
        flex-direction: row;
        cursor: pointer;

        .column {
          h5 {
            font-weight: 500;
            font-size: 0.7rem;
            color: rgba(0, 0, 0, 0.7);
          }
        }
      }
    }

    // .column {
    //   margin-bottom: 1%;
    //   margin-bottom: 1%;
    // }

    #column1 {
      width: 5%;
    }

    #column2 {
      width: 35%;
    }

    #column3 {
      width: 20%;
    }

    #column4 {
      width: 20%;
    }

    #column5 {
      width: 15%;
    }

    #column6 {
      width: 5%;
      text-align: center;
    }
  }


}