.lead-generator {
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 2%;


  .property-results {
    margin-top: 2%;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.1), -1px 2px 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 2%;
    padding-bottom: 2%;
    height: 80vh;



    .custom-checkbox {
      position: relative;
      font-size: 0.7rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      


      .checkbox {
        position: absolute;
        opacity: 0;
        // width: 100%;
        // height: 100%;
        width: 12px;
        height: 12px;
        cursor: pointer;
        z-index: 2;
        margin-right: 5px;

      }

      .label {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #1A276C;
        font-weight: 500;
        

        &::before {
          content: "";
          display: inline-block;
          width: 12px;
          height: 12px;
          border: 2px solid rgba(26, 39, 108, 0.15);
          border-radius: 3px;
          background-color: #FFF;
          margin-right: 5px;
          transition: background-color 0.3s;
        }
      }
    }


    .checkbox:checked~.label::before {
      background-color: #ED6B86;
    }

    .results-block {
      display: flex;
      flex-direction: column;

      .sub-title {
        margin-top: 3%;
        margin-bottom: 1%;
        margin-left: 2%;
        font-size: 0.7rem;
        color: black;
        font-weight: 600;
      }



      .results-headers,
      .results-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 2%;
        padding-right: 2%;

        .column {
          margin-top: 0.75%;
          margin-bottom: 0.75%;
          padding-right: 5px;
        }

        #column1 {
          min-width: 3%;
          text-align: center;
        }

        #column2 {
          width: 20%;
        }

        #column3 {
          width: 8%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
        }

        #column4 {
          width: 8%;
        }

        #column5 {
          width: 8%;
        }

        #column6 {
          width: 9%;
        }

        #column7 {
          width: 9%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
        }

        #column8 {
          width: 7%;
        }
        #column9 {
          width: 20%;
          text-align: left;
        }

        #column10 {
          width: 8%;
          text-align: center;
        }
      }

      .results-headers {
        h5 {
          font-size: 0.7rem;
          color: rgba(26, 39, 108, 0.5);
        }
      }

      .select-all-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 8%;

        h5 {
          font-size: 0.7rem;
          padding-right: 5px;
          color: rgba(26, 39, 108, 0.5);
          font-weight: 700;
          margin-bottom: 4%;
        }

        input {
          margin-right: 5px;
        }
        .custom-checkbox {
          margin-right: 5px;
        }



      }

      .filter-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 2%;
        margin-top: 2%;
        margin-bottom: 0%;

        h3 {
          font-size: 0.7rem;
          width: 125px;
          color: black;
          font-weight: 600;
        }
        .dropdown {
          width: 220px;
          padding: 5px;
          border-radius: 7.5px;
          border: 1px solid #1A276C;
          font-size: 0.7rem;
        }
      }

      .save-section {
        border: 2px solid rgba(26, 39, 108, 0.1);
        border-radius: 12px;
        padding: 10px;
        cursor: pointer;
        margin-right: 3%;

        h3 {
          color: #ED6B86;
          font-weight: 600;
          font-size: 0.8rem;
          text-align: center;
        }

      }

      .title-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 2%;




      }

      .results-content {


        cursor: pointer;

        h5 {
          font-size: 0.6rem;
          color: black;
          font-weight: 500;
        }

        #column9 {
          display: flex;
          flex-direction: row;
          // justify-content: center;
          align-items: center;
          cursor: auto;

          .tick-box {
            width: 10px;
            height: 10px;
          }
        }

      }

      .property-divider {
        visibility: visible;
        border: 0.5px solid rgba(26, 39, 108, 0.15);
        margin-left: 2%;
        margin-right: 2%;
        cursor: auto;
      }

      .results-details {
        max-height: 54vh;
        overflow-y: auto;

        .property-divider:last-of-type {
          visibility: hidden;
        }
      }





    }

    .property-table-loading {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

  }


  .lead-gen-inputs {
    width: 45%;
    padding-left: 2%;
    padding-right: 2%;

    .sub-title {
      margin-top: 3%;
      margin-bottom: 3%;
      font-size: 0.8rem;
      color: black;
      font-weight: 600;
    }

    .single-title-double {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 3%;

      h3 {
        color: #1A276C;
        font-weight: 600;
        font-size: 0.8rem;
        margin-bottom: 10px
      }

      .double-dropdowns {
        display: flex;
        flex-direction: row;
        width: 100%;

        .dropdown {
          width: 50%;
          padding: 7.5px;
          border-radius: 7.5px;
          border: 1px solid #1A276C;
          font-size: 0.8rem;
        }

        .dropdown:nth-of-type(odd) {
          margin-right: 2%;
        }

        .dropdown:nth-of-type(even) {
          margin-left: 2%;
        }
      }
    }

    .double-input-block {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 3%;
      margin-bottom: 3%;
      // margin-right: 3%;

    }

    .single-input-block {
      margin-bottom: 3%;
    }

    .input-block {
      display: flex;
      flex-direction: column;

      h3 {
        color: #1A276C;
        font-weight: 600;
        font-size: 0.8rem;
        margin-bottom: 10px
      }

      p {
        font-size: 0.65rem;
        font-weight: 500;
        font-style: italic;
        margin-bottom: 2%;
        color: black;
      }

      input,
      select,
      textarea {
        padding: 7.5px;
        border-radius: 7.5px;
        border: 1px solid #1A276C;
        font-size: 0.8rem;
      }

      select {
        width: 100%;
      }
    }

    .lead-gen-save {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .save-details {
        width: 175px;
        padding: 7.5px;
        border-radius: 7.5px;
        background-color: #ED6B86;
        border: 1px solid #ED6B86;
        color: #FDF7F0;
        font-weight: 500;
        cursor: pointer;
      }
    }

    .see-more-section {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

    }

  }

  .map-section {
    height: 600px;
    width: 100%;
    position: relative;
    z-index: 99;

    .mapboxgl-map {
      height: 100%;
    }
  }

}