.profile-sidebar-open {
  width: 250px;
  display: block;
  background-color: #FDF7F0;
  position: fixed;
  top: 0%;
  height: 100vh;
  .logo-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .logo {
      background-image: url('../../../../public/white_icons/W-logo.svg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100px;
      height: 100px;
      margin-top: 20%;
      cursor: pointer;
    }
  }

  .profile-buttons {
    margin-top: 20%;
    color: #1A276C;
    .profile-button-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5% 0% 5% 12%;
      cursor: pointer;

      .icon {
        width: 30px;
        height: 30px; 
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 7%;
      }
      
      h2 {
        font-size: 0.9rem;
        font-weight: 600;
      }
    }


    .profile-button-title:hover, .profile-button-title.active  {
      background-color: #1A276C;
      border-right: 6px solid #ED6B86;
      color: #FDF7F0;

      #home-icon {
        background-image: url('../../../../public/white_icons/house-beige.png');
      }
      #saved-icon {
        background-image: url('../../../../public/white_icons/White/mortgage.svg');
      }
      #listing-icon {
        background-image: url('../../../../public/white_icons/White/list-cog.svg');
      }
      #ai-icon {
        background-image: url('../../../../public/white_icons/ai-beige.png');
      }
      #finder-icon {
        background-image: url('../../../../public/white_icons/White/house-search.svg');
      }
      #account-icon {
        background-image: url('../../../../public/white_icons/White/account.svg');
      }
    }
  }



  #home-icon {
    background-image: url('../../../../public/white_icons/house-blue.png');
  }
  #saved-icon {
    background-image: url('../../../../public/white_icons/Blue/mortgage.svg');
  }
  #listing-icon {
    background-image: url('../../../../public/white_icons/Blue/list-cog.svg');
  }
  #ai-icon {
    background-image: url('../../../../public/white_icons/ai-blue.png');
  }
  #finder-icon {
    background-image: url('../../../../public/white_icons/Blue/house-search.svg');
  }
  #account-icon {
    background-image: url('../../../../public/white_icons/Blue/account.svg');
  }


}





@media screen and (max-width: 800px) {
  .profile-sidebar-open {
    display: none;
  }

}