.loading-gif {
  // background-image: url('../../../../public/website_images/loading-gif.gif');
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  background-color: transparent;
  width: 150px;
  height: 150px;
  cursor: pointer;
  img {
    width: 100%;
  }
}